@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to LogWork</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-grid.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/UserForms.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-3.1.1.min.js")" type="text/javascript"></script>
    </head>
    <body background="@routes.Assets.at("images/login_register_background_image.jpg")">
        @content
    </body>
</html>
