@(loginUserForm: Form[(String, String)])(implicit messages: Messages)
    @import helper._

    @login_template {

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h3>Login</h3>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                @helper.form(action = routes.ProfileApiController.loginUser(), args = ('id -> "login-form")) {
                                    <div class="form-group">
                                    @helper.inputText(loginUserForm("Username"), 'class -> "form-control", 'placeholder -> "Username")
                                    </div>
                                    <div class="form-group">
                                    @helper.inputPassword(loginUserForm("Password"), 'class -> "form-control", 'placeholder -> "Password")
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
